.container {
    max-width: 120rem;
    margin: 0 auto;
    margin-bottom: 3.2rem;
    padding: 0 1.5rem;
}

@media (min-width: 22.5em) {
    .container {
        width: 100%;
    }
}


@media (min-width: 36em) {
    .container {
        max-width: 54rem;
    }
}

@media (min-width: 48em) {
    .container {
        max-width: 72rem;
    }
}

@media (min-width: 62em) {
    .container {
        max-width: 96rem;
    }
}

@media (min-width: 75em) {
    .container {
        max-width: 114rem;
    }
}
