@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

:root {
    --bg-color: #16151a;
    --main-text-color: #fff;
    --hover-text-color: #F3F34A;
}

*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    background-color: var(--bg-color);
    color: var(--main-text-color);
}

h1 {
    color: #16151a;
}

a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

.swiper-button-prev::after, .swiper-button-next::after {
    display: none;
}

@media (min-width: 22.5em) {
    html {
        font-size: 50%;
    }
}

@media (min-width: 48em) {
    html {
        font-size: 56.25%;
    }
}

@media (min-width: 62em) {
    html {
        font-size: 62.5%;
    }
}